@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modo diurno (por defecto) */
body {
    background-color: white;
    color: black;
}

/* Modo nocturno */
body.dark-mode {
    background-color: rgb(20, 20, 20);
    color: white;
}

/* Forzar texto blanco en modo nocturno */
body.dark-mode * {
    color: white !important;
}

body.bg-dark {
    background-color: rgb(20, 20, 20);
    color: white;
}
